*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #1a1b26;
  --container-color: #24283b;
  --inner-container-color: #414868;
  --primary-text-color: #c0caf5;
  --secondary-text-color: #565f89;
  --container-shadow: 8px 12px 24px rgba(0, 0, 0, 0.3);
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 80px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Space Grotesk", sans-serif;
}

.container {
  padding: 40px 60px;
  border-radius: 24px;
  background-color: var(--container-color);
  box-shadow: var(--container-shadow);
}

.main-title {
  margin-bottom: 20px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-position: inside;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.project-list__item a {
  padding: 2px 5px;
  border-radius: 8px;
  color: var(--background-color);
  background-color: var(--inner-container-color);
}

.project-list__item a:hover {
  color: var(--primary-text-color);
}

footer {
  margin-top: 40px;
  color: var(--secondary-text-color);
}

footer a:hover {
  color: var(--primary-text-color);
}
